server:
  port: 8080

spring:
  application:
    name: SIKAS
  profiles:
    active: dev
  datasource:
    # Example url for local SQL Server : jdbc:sqlserver://localhost:1433;databaseName=DbSikas;schema=dbo;encrypt=true;trustServerCertificate=true
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        default_schema: dbo
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect
  sql:
    init:
      mode: always

jwt:
  secret: ${JWT_SECRET}
  expiration: 900000 # 15 minutes in milliseconds
  refresh-secret: ${JWT_REFRESH_SECRET}
  refresh-expiration: 86400000 # 24 hours in milliseconds

logging:
  level:
    root: INFO
    app: DEBUG
  mask-sensitive: false